<div class="uk-section uk-padding-remove uk-section-default">
    <div class="uk-container uk-padding-remove">
        <nav uk-navbar>
          <div class="uk-navbar-left" style="padding-left:15px;padding-top:7px;">
              <a [routerLink]="['/']" class="uk-logo"><img src="https://processmaker-ang.s3.us-west-2.amazonaws.com/ProcessMakerLogo.png"></a>
          </div>

          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav d-flex align-items-center ml-auto">
              <li class="nav-item p-2">
                <button type="button" class="uk-button uk-button-danger" style="margin-right:12px;border-radius:4px;background:#08ae9f;"><b>+</b> Request</button>
              </li>

              <!--<li class="nav-item p-2">
                <a (click)="authService.logout()">
                  <button type="button" class="uk-button uk-button-link uk-button-small" style="">Logout</button>
                </a>
              </li>-->

            </ul>
          </div>
        </nav>
        <nav uk-navbar>


            <div class="uk-navbar-left" style="padding-left:20px;">

                <ul class="uk-navbar-nav">
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Dashboard</a></li>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a [routerLink]="['/tasks']">Tasks</a></li>
                    <li routerLinkActive="uk-active" [routerLinkActiveOptions]="{exact: false}"><a [routerLink]="['/requests']">Requests</a></li>

                </ul>
            </div>



        </nav>
    </div>
</div>
