<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h1 class="uk-h2">Tasks</h1>
        <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-table-shrink uk-text-center">Task</th>
                    <th class="uk-table-extend">Name</th>
                    <th class="uk-width-small uk-text-center">Status</th>
                    <th class="uk-width-small uk-text-center">Participants</th>
                    <th class="uk-width-small uk-text-nowrap uk-text-center">Started</th>
                    <th class="uk-width-small uk-text-nowrap uk-text-center">Completed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="!userTasks.length">
                    <td colspan="6" class="uk-text-center">
                        <div class="uk-margin-top" uk-spinner="ratio: 3"></div>
                        <p class="uk-text-center">Loading..</p>
                    </td>
                </tr>
                <tr *ngFor="let task of userTasks" class="uk-table-middle">
                    <td class="uk-text-center">{{ task.id }}</td>
                    <td>{{ task.element_name }}</td>
                    <td class="uk-text-center">{{ task.status }}</td>
                    <td class="uk-text-center">{{ task.user_id }}</td>
                    <td class="uk-text-center uk-text-small">{{ task.initiated_at | date: 'short' }}</td>
                    <td class="uk-text-center uk-text-small">{{ task.due_at | date: 'short' }}</td>
                    <td class="uk-text-center uk-text-small">

                        <!-- Start of process modal window to view rendered page-->

                        <button (click)="getUserTask(task.id)" type="button" class="uk-button uk-button-default" uk-toggle="target: #taskModal">View Process</button>

                        <div id="taskModal" class="uk-modal-full" uk-modal>
                            <div class="uk-modal-dialog uk-margin-auto-vertical uk-height-viewport">
                                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                <div *ngIf="selectedTask">
                                    <div class="uk-grid-collapse uk-flex-middle" uk-grid>
                                        <div class="uk-width-1-3 uk-background-cover uk-position-relative" style="background-image: url('assets/img/backgrounds/tasks.jpg');" uk-height-viewport>
                                            <div class="uk-card uk-card-default uk-card-body uk-width-1-2 uk-position-center">
                                                <h3 class="uk-card-title">{{ selectedTask?.id }}&nbsp;{{ selectedTask?.element_name }}</h3>
                                                <p>{{ selectedTask?.status }}</p>
                                            </div>
                                        </div>
                                        <div class="uk-width-2-3 uk-padding-large">
                                            <h2>Request Information</h2>
                                            <p><strong>Name:</strong> {{ selectedRequest?.name }}</p>
                                            <p><strong>Created:</strong> {{ selectedRequest?.created_at | date: 'short' }}</p>
                                            <p><strong>Updated:</strong> {{ selectedRequest?.updated_at | date: 'short' }}</p>
                                            <div class="uk-margin">
                                                <textarea class="uk-textarea" rows="20"><span class="uk-label uk-label-success">JSON Data Output</span><br><br><pre>{{selectedRequest | json}}</pre></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!selectedTask" class="uk-position-absolute uk-position-center">
                                        <span uk-spinner="ratio: 4.5"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End of process modal window to view rendered page-->

                    </td>
                </tr>
            </tbody>
        </table>
        <ul *ngIf="userTasks.length" class="uk-pagination uk-flex-center" uk-margin>
            <li class="pagination-previous">
                <a *ngIf="pagination.currentPage > 1" (click)="getUserTasks(pagination.currentPage - 1)"><span uk-pagination-previous></span></a>
            </li>
            <li *ngFor="let task of userTasks | paginate: pagination; let i = index">
                <a (click)="getUserTasks(pagination.currentPage + i)" [ngClass]="{'uk-disabled': pagination.currentPage === pagination.currentPage + i}">
                    <span>{{ pagination.currentPage + i }}</span>
                </a>
            </li>
            <li class="pagination-next">
                <a *ngIf="pagination.currentPage < pagination.lastPage" (click)="getUserTasks(pagination.currentPage + 1)"><span uk-pagination-next></span></a>
            </li>
        </ul>
    </div>
</div>
