<div class="sidebar" id="sidebar">
<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

<ul class="nav nav-list">
<li class="{{newcaseSelected}}">
    <a href="/newProcess" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> New Process </span>
    </a>
</li>
<li class="{{inboxSelected}}">
    <a href="#/home/inbox">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> Inbox </span>
    </a>
</li>
<li class="{{draftSelected}}">
    <a href="#/home/draft" class="dropdown-toggle">
        <i class="icon-file-alt"></i>
            <span class="menu-text"> Draft </span>
    </a>
</li>
<li class="{{participatedSelected}}">
    <a href="#/home/participated">
        <i class="icon-list-alt"></i>
        <span class="menu-text"> Participated </span>
    </a>
</li>

<li class="{{unassignedSelected}}">
    <a href="#/home/unassigned" class="dropdown-toggle">
        <i class="icon-tag"></i>
        <span class="menu-text"> Unassigned </span>
    </a>
</li>
</ul><!--/.nav-list-->

<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>
</div>