<div class="sidebar" id="sidebar" ng-show="authenticated()">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>
    <ul class="nav nav-list">
        <li class="{{newprocessSelected}}">
            <a ui-sref="app.newprocess">
                <i class="icon-edit"></i>
                <span class="menu-text"> New Process </span>
            </a>
        </li>
        <li class="{{inboxSelected}}">
            <a ui-sref="app.inbox">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Inbox </span>
            </a>
        </li>
        <li class="{{draftSelected}}">
            <a ui-sref="app.draft">
                <i class="icon-file-alt"></i>
                <span class="menu-text"> Draft </span>
            </a>
        </li>
        <li class="{{participatedSelected}}">
            <a ui-sref="app.participated">
                <i class="icon-list-alt"></i>
                <span class="menu-text"> Participated </span>
            </a>
        </li>
    </ul>
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>